.main__subline{
    margin-top: 8px;
    margin-left: 148px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (min-width:1300px){
    .main__subline{
       margin-left: 11%;
    }
}
@media screen and (max-width: 1024px){
    .main__subline{
        margin-left: 48px;
        
    }
}

@media screen and (max-width:768px){
    .main__subline{
        margin-left: 24px;
        
    }
}

@media screen and (max-width:425px){
    .main__subline{
     margin-left: 16px   ;
    }
}