.state__url-link{
    padding-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s ease-in-out;
}

.state__url-link:hover{
    opacity: .8;
}