.footer__links{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 48px;
    margin: 0;
}
@media screen and (max-width:768px){
    .footer__links{
        padding-left: 24px;
    }
}

@media screen and (max-width:425px){
    .footer__links{
        display: inline;   
        padding-left: 0;
    }
}