.header__logo{
    width:190px;
    height: 44px;
    position: absolute;
    top: 34px;
    left: 148px;
}


@media screen and (max-width: 1280px){
    .name{
    }
}

@media screen and (max-width: 1024px){
    .header__logo{
        left: 48px;
        
    }
}

@media screen and (max-width:768px){
    .header__logo{
        left: 24px;
        
    }
}

@media screen and (max-width:425px){
    .header__logo{
        width: 156px;
        height: 36px;
        top: 20px;
        left: 16px
    }
}