.header__title{
    max-width: 720px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}
@media screen and (max-width: 1024px){
    .header__title{
        margin-top: 54px;
        
    }
}

@media screen and (max-width:425px){
     .header__title{
         max-width: 288px;
         margin-top: 52px;
         font-size: 40px;
         line-height:44px;
    }
}