@import url(./__copyright/footer__copyright.css);
@import url(__link/footer__link.css);
@import url(__links/footer__links.css);

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    margin-bottom: 24px;
}
    
@media screen and (max-width:425px){
    .footer{
        display: inline;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}